<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="UTF-8">

    <title>Login</title>

    <script src="https://cdn.tailwindcss.com"></script>

</head>

<body class="bg-slate-100 min-h-screen
             flex items-center justify-center">

			 <form th:action="@{/login}" method="post" class="space-y-4">

			     <div>
			         <label>Email</label>
			         <input type="text"
			                name="username"
			                class="w-full border rounded p-2">
			     </div>

			     <div>
			         <label>Password</label>
			         <input type="password"
			                name="password"
			                class="w-full border rounded p-2">
			     </div>

			     <button type="submit"
			             class="w-full bg-blue-600 text-white rounded p-2">
			         Login
			     </button>

			 </form>
    </div>

</body>

</html>