<h2>Invite New Tenant</h2>

<div class="bg-white p-6 rounded shadow">

    <h2 class="text-xl font-bold mb-4">
        Invite Tenant
    </h2>

    <form th:action="@{/admin/invite}" method="post">

        <input type="email"
               name="email"
               placeholder="Tenant Email"
               required
               class="border p-2 rounded w-full">

        <button type="submit"
                class="mt-4 bg-blue-600 text-white px-4 py-2 rounded">
            Send Invite
        </button>

    </form>

	
	<div th:if="${successMessage}"
	     class="bg-green-100 text-green-800 p-4 rounded mt-4">
	    <span th:text="${successMessage}"></span>
	</div>

	<div th:if="${errorMessage}"
	     class="bg-red-100 text-red-800 p-4 rounded mt-4">
	    <span th:text="${errorMessage}"></span>
	</div>
</div>