<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="UTF-8">

    <title>Login</title>


</head>

<body>

<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Amount</th>
            <th>Due Date</th>
            <th>Status</th>
            <th>Action</th>
        </tr>
    </thead>

    <tbody>
        <tr th:each="invoice : ${invoices}">
            <td th:text="${invoice.id}"></td>
            <td th:text="${invoice.amount}"></td>
            <td th:text="${invoice.dueDate}"></td>
            <td th:text="${invoice.status}"></td>

			<td>

				<form th:if="${invoice.status.name() == 'PENDING'}"
				      th:action="@{/pay/{id}(id=${invoice.id})}"
				      method="post">

				    <input type="hidden"
				           th:name="${_csrf.parameterName}"
				           th:value="${_csrf.token}" />

				    <button type="submit">Pay</button>

				</form>s

			</td>
        </tr>
    </tbody>
</table>

</body>

</html>